.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
      "aside video"
      "aside article";
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
  }
  
  #video {
    grid-area: video;
  }  
  article {
    grid-area: article;
  }
  aside {
    grid-area: aside;
  }
  .border {
    border: solid 1px;
  }
  
  #video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #video h2 {
    font-size: 20px;
    letter-spacing: 4px;
    padding: 0;
  }