.grid-container {
  width: 100%;
  min-height: 100vh;
  display: grid;
 
  grid-template-columns: 30% 70%;
  grid-template-rows: 60% 40%;
  grid-template-areas: 
      "aside liveaid"
      "aside article";
  place-content: center;
  margin-bottom: 10px;
}
.liveaid {
  grid-area: liveaid;
}
article {
  grid-area: article;
}
aside {
  grid-area: aside;
}
.liveaid h1 {
  font-size: 24px;
  letter-spacing: 8px;
  padding: 10px 0;
  color: #efb810; 
  text-transform: uppercase;
}
.noticia {
  padding: 0 20px;
}
.noticia h1 {
  font-size: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  color: #efb810;
}
.noticia p {
  font-size: 16px;
  letter-spacing: 4px;
  text-align: justify;
}
.statue {
  padding: 5px 0;
  margin-left: 25px;
}
.statue img {
  width: 100%;
  height: 100%;
}