.grid {
  height: 100vh;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 60% 40%;
  grid-template-areas: 
      "aside liveaid"
      "aside article";
  place-content: center;
  
}
.liveaid {
  grid-area: liveaid;
}
article {
  grid-area: article;
}
aside {
  grid-area: aside;
}
@media (max-width:768px) {
  .grid{
    grid-template-columns: 100%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: 'aside'
                          'liveaid'
                          'article';
  }
}
.liveaid {
  border: red solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.liveaid h1 {
  font-size: 24px;
  letter-spacing: 8px;
  padding: 5px;
  color: #efb810; 
}
.concierto {
  border: red solid 1px;
}
.noticia {
  border: red solid 1px;
  padding: 10px;
  place-self: center;
}
.noticia h1 {
  font-size: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  color: #c39717;
}
.noticia p {
  font-size: 16px;
  letter-spacing: 4px;
  text-align: justify;
}
