/*inicio header*/
header {
    margin: auto;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
    background-image: url(/public/images/queen-banner1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
/*Fin Header*/

/*inicio nav*/
  /* General styles */
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;  
    z-index: 9998;
}
.navbar .logo img {
    height: 10vh;
    margin-left: 50px;
}
.navbar .logo:hover {  
    transform: scale(1.1);
}
.menu-items {
    display: flex;
    gap: 2rem;
}  
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    padding: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10x 15px;
}
.navbar ul li a.activo {
    color: #efb810;
    font-weight: 800;
    letter-spacing: 4px;
    transition: 0.3s;
}
.navbar ul li a:hover {
    color: #efb810;
    font-size: 20px;
    transition: 0.3s;
}
.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu {
    display: none;
    position: relative;
    height: 0;
    background: rgba(255, 255, 255, 0,1);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10x 15px;
}
.dropdown_menu.open {
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    margin: auto;
}
  
@media (max-width: 768px) {
    .navbar .menu-items {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
        margin-right: 20px;
    }
    .dropdown_menu {
        display: block;

    }
}  
@media (max-width: 480px) {

}    


/*fin nav*/

/* title*/
.title{
    z-index: 9998;
    /*padding-top: var(--margin--desktop);
    padding-right: var(--margin--desktop);
    padding-left: var(--margin--desktop);*/
    width: 100%;
    display: flex;
    position: absolute;
    inset: 0% 0% auto;
    justify-content: center;
    align-items:center;
    margin-top: 200px;
    color: black;
    text-shadow: 0 0 5px #ccc, 0 0 10px #bbb, 0 0 15px #fff, 0 0 20px #fff;
    animation: grayGlow 2s infinite alternate;
  }
  @keyframes grayGlow {
    0% {
      text-shadow: 0 0 5px #ccc, 0 0 10px #bbb, 0 0 15px #fff, 0 0 20px #fff;
    }
    50% {
      text-shadow: 0 0 10px #bbb, 0 0 15px #aaa, 0 0 20px #eee, 0 0 25px #fff;
    }
    100% {
      text-shadow: 0 0 5px #ccc, 0 0 10px #bbb, 0 0 15px #fff, 0 0 20px #fff;
    }
  }
/* title*/

/*inicio footer*/
footer {
    background-color: #000000f5;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .social {
    text-align: center;
    padding-bottom: 25px;
}
footer .social a {
    color: white;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 20px;
    opacity: 0.65;
}
  footer .social a:hover {
    opacity: 1;
}
/*fin footer*/