@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
body {
  background-color: #363636; /* #fff;*/
  color: white;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding: 16px 0;
  position: relative;
  padding-bottom: 8em;
}
.holder {
  max-width: 960px;
  margin: 0 auto;
}
